<div class="card">
    <div class="card-header">
        Editar producto
    </div>
    <div class="card-body">


        <form>

            <div class="mb-3">
              <label for="" class="form-label">Nombre del Producto</label>
              <input type="text" name="Nombre" [(ngModel)]= "Nombre"
                class="form-control"  aria-describedby="helpId" placeholder="Escribe el nombre del producto">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Marca del Producto</label>
                <input type="text" name = "Marca" [(ngModel)]= "Marca"
                  class="form-control" aria-describedby="helpId" placeholder="Escribe la marca del Producto">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Stock del producto</label>
                <input type="text"  name = "Stock" [(ngModel)]= "Stock"
                  class="form-control" aria-describedby="helpId" placeholder="Escribe el Stock del producto">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Categorias</label>
                <select class="form-control"  #categoriaSelect>
                    <option *ngFor=" let cat of categorias" 
                    [value] = "cat.Id">
                        {{cat.Nombre}}
                    </option>
                </select>
              </div>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-success" (click)="preUpdate()">Update</button>
                  <button type="button" class="btn btn-danger">Volver</button>
              </div>
        </form>



    </div>
</div>
