.PIparrafo {
    font-size: 2rem;
    padding: 1px 80px;
    color: #F2A516;
}

.SIparrafo {
    font-size: 1rem;
    padding: 0px 80px;
    color: #141747;
}

.margen{
    padding: 10px 80px
}

.azul{
    color: #141747;
}