<div class="conteiner PIparrafo">
    <b><a>Cuenta</a></b>
  </div>
  <div class="conteiner SIparrafo">
    <b><a>Información General</a></b>
</div>

<form class="row g-2 margen">
    <div class="col-md-4 azul" >
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-4 azul">
      <label class="form-label">Segundo Nombre</label>
      <input type="text" class="form-control">
    </div>
    <br>
    <div class="col-md-4 azul">
        <label class="form-label">Apelllido</label>
        <input type="text" class="form-control">
      </div>
    <div class="col-md-4 azul">
        <label class="form-label">Segundo Apelllido</label>
        <input type="text" class="form-control">
    </div>
    <br>
    <div class="col-md-8 azul">
        <label class="form-label">Correo Institucional</label>
        <input type="email" class="form-control">
    </div>
    <br>
    <div class="col-md-4 azul">
        <label class="form-label">Numero de Telefono</label>
        <input type="email" class="form-control">
    </div>
    <div class="col-md-4 azul">
        <label for="inputState" class="form-label">Escuela</label>
        <select id="inputState" class="form-select">
          <option selected>Escula de Informatica y telecomunicaciones</option>
          <option>Escuela de Ingenieria</option>
          <option>...</option>
        </select>
      </div>
      <br>
      <div class="col-md-4 azul">
        <label class="form-label">Carrera</label>
        <input type="email" class="form-control">
    </div>
    <div class="col-md-4 azul">
        <label class="form-label">Sección</label>
        <input type="email" class="form-control">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>