<div class="conteiner PIparrafo">
    <b><a>Cuenta</a></b>
  </div>
  <div class="conteiner SIparrafo">
    <b><a>Cambio de Contraseña</a></b>
</div>

<form class="row g-2 margen">
    <div class="col-md-4 azul" >
      <label class="form-label">Contraseña Actual</label>
      <input type="password" class="form-control">
    </div>
    <br>
    <div class="col-md-4 azul" >
        <label class="form-label">Contraseña Nueva</label>
        <input type="password" class="form-control">
      </div>
    <br>
    <div class="col-md-4 azul" >
        <label class="form-label">Repetir Contraseña</label>
        <input type="password" class="form-control">
      </div>
    <div class="col-12 justify-content-md-end">
      <button type="submit" class="btn btn-success">Actualizar</button>
      <button type="submit" class="btn btn-danger mx-2">Volver</button>
    </div>
  </form>
