.PIparrafo {
    font-size: 1,5rem;
    padding: 1px 80px;
    color: #F2A516;
}

.SIparrafo {
    font-size: 1rem;
    padding: 0px 90px;
    color: #141747;
}

.margen{
    padding: 25px 100px
}

.azul{
    color: #141747;
}

.PItitulo {
    font-size: 2rem;
    padding: 1px 80px;
    color: #F2A516;
}

.SIsubti {
    font-size: 1rem;
    padding: 0px 80px;
    color: #141747;
}