body { 
    font-family: sans-serif;
    padding: 1px 130px;
} 
 
nav {
       padding: 5px 130px; 
} 

.tituloNav{
    font-size: 2rem;
    color: #F2A516;
}
 
.Pparrafo {
    font-size: 1.5rem;
    padding: 15px 150px;
    color: #F2A516;
}

.Sparrafo {
    font-size: 1rem;
    padding: 10px 150px;
    color: #141747;
}