<div class="conteiner margen">
    <div class="card">
        <div class="card-header ">
            Iniciar Sesión
        </div>
        <div class="card-body">
            <form class="row g-2 margen">
                <div class="mb-3">
                <label for="" class="form-label">Ingrese su email</label>
                <input type="email" name="Email"
                    class="form-control"  aria-describedby="helpId" placeholder="Escribe el nombre del producto">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Ingrese su contraseña</label>
                    <input type="password" name = "Pwd" 
                    class="form-control"  aria-describedby="helpId" placeholder="Escribe la marca del Producto">
                </div>

                <div class="mb-3">
                    <a type="link" href="#">Recuperar Contraseña</a>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    <button type="submit" class="btn btn-danger">Volver</button>
                    </div>
            </form>
        </div>
    </div>
</div>
